.navbar{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    max-height: 6.2rem;
    background-color: #7b2cbf;
    flex-direction: row;
    align-items: center;
}

.navbar h1{
    font-size: 1.7rem;
    color: #fff;
}

.navbar-list{
    display: flex;
    gap: 2rem;
}

.navbar-list a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}

.navbar-list a:hover{
    color: #3c096c;
    transition: .5s;
}